:root {
    --orange: #ff7825;
    --green: #9bff38;
    --dark-green: #00bf63;
    --yellow: #fffc00;
    --blue: #6bd8ff;
    --dark-blue: #001f61;
    --red: #fa4e1d;
    --white: #ffffff;
    --light-orange: #ffad7a;
    --pink: #ff79a5;
    --mid-orange: #ff904c;
  }

body {
    margin: 0;
    padding: 0;
    background: var(--white);
    overflow: hidden;
  }

p {
    font-size: 10px;
}

  #map {
    top: 0px;
    width: 100%;
    height: calc(100vh - 80px);
    display: block;
    z-index: 2;
  }

  #plusButton {
    position: absolute;
    bottom: 100px;
    left: 40px;
    height: 50px;
    width: 50px;
    z-index: 1;
    cursor: pointer;
    display: none;
  }
  
  #plusButton i:hover {
    background: -webkit-linear-gradient(top, var(--orange) 0%, #ffad7a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    position: absolute;
    z-index: 1;
    margin-top: -6px;
  }
  
  #plusButton svg {
    position: absolute;
    stroke: black;
    stroke-width: 1.7px;
    overflow: visible;
    position: absolute;
    width: 80px;
    height: 80px;
    transform: translateY(-7%);
  }
  
  #plusButton i {
    background: -webkit-linear-gradient(top, #ffad7a 40%, var(--orange) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    position: absolute;
    z-index: 1;
    margin-top: -6px;
    /* text-shadow: 10px 10px #ffffff; */
  }

.bi-pen-fill,
.bi-trash-fill {
  margin-left: 5px;
}

.weatherDisplay {
    display: none;
    font-size: 15px;
    height: 35px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 60px;
    bottom: 30px;
    background: white;
    z-index: 1;
    border: black solid 3px;
    border-radius: 20px;
    box-shadow: 2px 2px 0 0px black;
}

.weatherIcon {
    font-size: 15px;
}


  .text {
    font-family: "Noto Sans Display", sans-serif;
    display: none;
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: var(--orange);
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
    opacity: 0;
    animation: fadeInOut 2s ease-in-out infinite;
    z-index: 3;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      text-shadow: 0 0 5px #ffffff;
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff;
    }
    100% {
      opacity: 0;
      text-shadow: 0 0 5px #ffffff;
    }
  }

  #confirmCloseButton {
    margin: auto;
    height: 100px;
    width: 200px;
    background-color: white;
    border-radius: 20px;
    border-type: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 5px 5px 0 0px black;
    box-sizing: content-box;
  }

  .discardMessage {
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  #cancelButton {
    background: var(--orange);
    color: white;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    border: black solid 2px;
    display: inline-flex;
    cursor: pointer;
    margin-right: 5px;
  }
  
  #discardButton {
    margin-left: 5px;
    background: var(--orange);
    color: white;
    width: auto;
    padding: 10px;
    border-radius: 20px;
    border: black solid 2px;
    display: inline-flex;
    cursor: pointer;
  }

  #confirmLocation {
    margin: auto;
    height: 100px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    border-type: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 5px 5px 0 0px black;
    box-sizing: content-box;
    overflow: hidden;

  }

  .exit-button {
    position: absolute;
    color: black;
    top: 2px;
    right: 5px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .exit-button2 {
    position: absolute;
    color: black;
    top: 2px;
    right: 5px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  #currentLocationButton {
    text-align: center;
    background: var(--orange);
    color: white;
    width: auto;
    padding: 10px;
    border-radius: 20px;
    border: black solid 2px;
    display: inline-flex;
    cursor: pointer;
    font-weight: 500;
  }
  
  #somewhereElseButton {
    background: var(--orange);
    color: white;
    width: auto;
    padding: 10px;
    border-radius: 20px;
    border: black solid 2px;
    display: inline-flex;
    cursor: pointer;
    font-weight: 500;
  }

  #entry {
    background: -webkit-linear-gradient(top, #ffad7a 0%, var(--orange) 100%);
    border: 2px solid black;
    width: 400px;
    position: absolute;
    z-index: 1;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 5px 5px 0 0px black;
    box-sizing: content-box;
  }

  .centered {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  input {
    display: block;
  }

  input[type="text"].description {
    background-color: #ffffff;
    color: black;
    border: none;
    margin: 18px auto auto auto;
    height: 30px;
    width: 95%;
    border-radius: 20px;
    border: solid black 2px;
    padding-left: 5px;
  }

  input[type="text"]:focus {
    border: solid black 2px;
    outline: none; /* This removes the blue border */
  }
  
  input::file-selector-button {
    font-weight: bold;
    background: #ffffff;
    color: black;
    height: 30px;
    border: black solid 2px;
    border-radius: 15px;
    padding: 6px;
  }
  
  input::file-selector-button:hover {
    cursor: pointer;
  }

  .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    top: 90px;
    margin-top: 15px;
  }

  .post-text {
    margin: 10px auto;
  }

  #submitButton {
    width: 100px;
    font-weight: bold;
    background: #ffffff;
    color: black;
    border: solid black 2px;
    border-radius: 50px;
    padding: 5px;
    margin-top: 10px;
  }
  
  #submitButton:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }

  .mapboxgl-popup-content {
    background-color: white !important;
    border: 2px solid black !important;
    border-radius: 20px !important;
    text-align: center !important;
    font-weight: 600;
    box-shadow: 5px 5px 0 0px black;
  }
  
  .mapboxgl-popup-tip {
    display: none;
  }
  
  .mapboxgl-popup-close-button {
    color: #000 !important;
    margin-right: 3px;
    margin-top: 3px;
    font-size: 16px !important;
    font-weight: bold !important;
  }
  
  .location_description {
    text-align: left;
    width: 200px;
  }

  .margin {
    margin-top: 15px;
  }

  .container-delete {
    display: inline-block;
  }

  .delete-btn {
    background: var(--orange);
    color: white;
    width: 80px;
    padding: 6px;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 10px;
    border: black solid 2px;
    display: inline-flex;
    cursor: pointer;
  }

  .mapboxgl-ctrl-geocoder {
    border: 2px solid black !important; /* Add a border */
    border-radius: 20px !important; /* Round the edges */
    box-shadow: 4px 4px 0 0px black !important;
    display: block;
    position: absolute;
  }
  
  .mapboxgl-ctrl-geocoder input {
    border: none !important;
  }
  
  .mapboxgl-ctrl-fullscreen {
    background: white;
  }
  
  .mapboxgl-ctrl-fullscreen:hover {
    background-color: #f0f0f0;
  }

  .mapboxgl-ctrl-bottom-right button {
    box-shadow: 2px 2px 0 0px black;
    border: 2px solid black !important;
  }

  .stampNotif {
    display: flex;
    height: 122px;
    width: 300px;
    background: -webkit-linear-gradient(top, #ffad7a 0%, var(--orange) 100%);
    border-radius: 5px;
    position: fixed;
    bottom: 32px;
    right: -100px;
    z-index: 3;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 0px black;
    opacity: 0;
    animation: appearAndDisappear 8s linear;
  }

  @keyframes appearAndDisappear {
    0% {
      opacity: 0;
    }
  
    30% {
      opacity: 1;
      transform: translateX(-150px);
    }
  
    70% {
      opacity: 1;
      transform: translateX(-150px);
    }
  
    100% {
      opacity: 0;
      transform: translateX(150px);
    }
  }

  .stampNotif img {
    height: 100px;
  }

  .achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .achievement h1,
.achievement h3,
.achievement p {
  margin: 8px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 70px;
  aspect-ratio: 1;
  background:
    radial-gradient(farthest-side,#ffa516 90%,#0000) center/16px 16px,
    radial-gradient(farthest-side,green   90%,#0000) bottom/12px 12px;
  background-repeat: no-repeat;
  animation: l17 1s infinite linear;
  position: relative;
}
.loader::before {    
  content:"";
  position: absolute;
  width: 8px;
  aspect-ratio: 1;
  inset: auto 0 16px;
  margin: auto;
  background: #ccc;
  border-radius: 50%;
  transform-origin: 50% calc(100% + 10px);
  animation: inherit;
  animation-duration: 0.5s;
}
@keyframes l17 { 
  100%{transform: rotate(1turn)}
}

@media (max-width: 800px) {

  input[type="text"].description {
    margin-bottom: 0px;
  }

  #confirmCloseButton {
    overflow: hidden;
  }

  .discardMessage {
    font-size: 16px;
  }

  .group { 
    display: block;
    margin-top: 5px;
  }

  .post-text {
    margin-top: 0px;
    display: block;
    text-align: center;
    font-size: 15px;
  }

  input[type="file"] {
    display: block;
    text-align: center;
    
  }


  .stampNotif {
    height: 100px;
    width: 200px;
  }

 achievement h1,
 achievement h3,
 achievement p {
  margin-top: 8px;
 }


 .achievement h1 {
     font-size: 15px;
     margin-top: 0;
     margin-bottom: 0;
 }

 .achievement h3 {
     font-size: 10px;
     text-align: center;
     margin-bottom: 2px;
     line-height: 15px;
  }
 achievement p {
  font-size: 10px;
  margin-top: 2px;
  }

  .stampNotif img {
    height: 80px;
    margin-left: 5px;

  }


  .text {
    font-size: 16px;
    bottom: 15vh;
    right: 1vh;
    width: 50%;
  }

}